.Ramp.bp4-card {
  padding: 0px;
  text-align: center;
  min-width: 200px;
  min-height: 225px;
}

.Ramp header {
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid gray;
  padding: 3px;
}

.Ramp div {
  display: flex;
  flex-wrap: wrap;
}

.LoadingCard {
  height: 180px;
  width: 180px;
  margin: 10px;
}

.LoadingCard.bp4-card {
  padding: 5px;
}

.LoadingCard > div {
  display: grid;
  width: 100vh;
  align-items: center;
}
